body {
    background-color: rgb(0, 0, 0);
    font-size: 16px;
}

main {
    width: 60%;
    margin: 0 auto;
}
ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    
}
a{
    text-decoration: none;
    color: gold;
    background-color: darkslateblue;

}
a:hover{
    color: silver;
    text-decoration: none;
}
p{
    color: red;

    font-size: 1.4em;
    text-align: center;
}
/*#005c69
*/